<% provide(:title, @article.title) %>

<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h1><%= @article.title %></h1>

    <blockquote><p><%= @article.excerpt %></p></blockquote>
    <div class="col-md-8 col-md-offset-1 article-image">
      <%= image_tag @article.picture.url if @article.picture? %>
    </div>
    <div class="col-md-11">
      <%= @article.content %>
    </div>
  </div>
  <div class="col-md-7 col-md-offset-1 article-bottom">
    <% if @article.tags.any? %>
      <p><strong>Tags: </strong></p>
      <% @article.tags.each do |tag| %>
        <%= link_to tag.name, tag_path(tag), class: 'btn btn-primary btn-sm' %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4 article-bottom">
    <p>Written by:</p>
    <%= gravatar_for @author, size: 50 %> <%= link_to @author.name, user_path(@author) %>
  </div>
</div>
<div class="row">
  <div class="col-md-7 col-md-offset-2">
  <%= render partial: 'comments/form' %>
  </div>
</div>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h3><strong>Comments:</strong></h3>
    <% if @article.comments.any? %>
      <%= render @comments %>
    <% else %>
    <p>There are no comments yet for this article.
      Start the conversation by posting one!</p>
    <% end %>
  </div>
</div>
