<% provide(:title, @article.title) %>

<h1><%= @article.title %></h1>

<blockquote><p><%= @article.excerpt %></p></blockquote>
<div class="img-responsive center-block">
  <%= image_tag @article.picture.url if @article.picture? %>
</div>
<p>
  <%= @article.content %>
</p>

<% if @article.tags.any? %>
<div class="well">
  <strong>Tags: </strong>
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: 'btn btn-primary btn-sm' %>
  <% end %>
</div>
<% end %>
<p class="text-right">
  <%= link_to @author.name, user_path(@author) %>
</p>
<span>
  <%= gravatar_for @author, size: 50, html_class: 'gravatar_signature' %>
</span>
