<% provide :title, @user.name %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: 50, html_class: 'gravatar' %>
        <%= @user.name %>
      </h1>
      <% if @user.articles.any? %>
        <p><%= @user.articles.count %>
           <%= 'article'.pluralize(@user.articles.count) %> published.</p>
      <% end %><br/>
      <div><%= link_to 'Create a new article', root_path, class: 'btn btn-sm btn-primary' %></div><br/>
      <div><%= link_to 'Go to dashboard', root_path, class: 'btn btn-sm btn-primary' %></div>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @articles.any? %>
    <h3>Manage published articles.</h3>
    <ol class="articles">
      <%= render @articles %>
    </ol>
    <%= will_paginate @articles %>
    <% end %>
  </div>
</div>
